* { 
    box-sizing:border-box;
    padding:0;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    
}

html {
    background-color: #140b11;
    color: #F2F2F0;
    scroll-behavior: smooth;
}

body {
    text-align: center;
}

a {
    color: pink;
    transition: ease 200ms;
}

a:hover {
    color: #F2F2F0;
    transform: scale(1.2);
}

#landingPage {
    display: flex;
    position: static;
    flex-flow: row-reverse wrap;
    flex-direction: row-reverse;
    align-items: stretch;
    flex-wrap: wrap;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/vd-photography-F20QHa8D_hw-unsplash.jpg);
    background-position: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    filter:drop-shadow(50%);
}

aside { 
    position:static;
    flex: 30%;
    left: 0;
    max-height: 90vh;
    min-height: 90vh;
    background-color: #140b11;
    transition: flex ease 500ms;
}

aside #openClose {
    position: relative;
    max-width: 100%;
    max-height: 50px;

}

.hideAside {
    flex: 0;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#640026;
}

li {
    text-decoration: none;
    list-style-type: none;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    flex: 70%;
    margin-top: 10vh;
}

.headerContainer {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #621F38;
}

.alignRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 33%;
}

.alignColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}

form {
    margin-top: 10px;
    padding: 25px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
    background-color:#621F38;
    color: #F2F2F0;
    border-radius: 10px;
    border: none;
}

#sign-up {
    display: none;
}

#sign-in {
    display: inherit;
}

button, input{
    background-color:#520B29;
    color: #F2F2F0;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color:#140b11;
    cursor:pointer;
    width: 100%;
}

input::placeholder {
    color:#734362
}



#blackjackGame {
    background-color: #F2F2F0;
    color: #621F38;
    font-weight: 800;
    height: 100vh;
}

/* Color Theme Swatches in Hex */
.vinho-1-hex { color: #520B29; }
.vinho-2-hex { color: #621F38; }
.vinho-3-hex { color: #640026; }
.vinho-4-hex { color: #734362; }
.vinho-5-hex { color: #F2F2F0; }

/* Color Theme Swatches in RGBA */
.vinho-1-rgba { color: rgba(82, 11, 40, 1); }
.vinho-2-rgba { color: rgba(98, 31, 56, 1); }
.vinho-3-rgba { color: rgba(100, 0, 38, 1); }
.vinho-4-rgba { color: rgba(114, 66, 98, 1); }
.vinho-5-rgba { color: rgba(242, 242, 239, 1); }

/* Color Theme Swatches in HSLA */
.vinho-1-hsla { color: hsla(0, 76, 18, 1); }
.vinho-2-hsla { color: hsla(0, 51, 25, 1); }
.vinho-3-hsla { color: hsla(0, 100, 19, 1); }
.vinho-4-hsla { color: hsla(0, 26, 35, 1); }
.vinho-5-hsla { color: hsla(0, 7, 94, 1); }
